:root {
  color-scheme: dark;
  --is-dark-theme: true;
  accent-color: #E24141;
  --color-primary: #E24141;
  --color-primary-contrast: #000000;
  --color-primary-dark-1: #a5b1fe;
  --color-primary-dark-2: #96a4fe;
  --color-primary-dark-3: #8797fd;
  --color-primary-dark-4: #788afd;
  --color-primary-dark-5: #697dfd;
  --color-primary-dark-6: #596ffd;
  --color-primary-dark-7: #4a62fd;
  --color-primary-light-1: #c3cbfe;
  --color-primary-light-2: #d2d8fe;
  --color-primary-light-3: #e1e5ff;
  --color-primary-light-4: #f0f2ff;
  --color-primary-light-5: white;
  --color-primary-light-6: white;
  --color-primary-light-7: white;
  --color-primary-alpha-10: rgba(183, 28, 28, 0.1);
  --color-primary-alpha-20: rgba(183, 28, 28, 0.2);
  --color-primary-alpha-30: rgba(183, 28, 28, 0.3);
  --color-primary-alpha-40: rgba(183, 28, 28, 0.4);
  --color-primary-alpha-50: rgba(183, 28, 28, 0.5);
  --color-primary-alpha-60: rgba(183, 28, 28, 0.6);
  --color-primary-alpha-70: rgba(183, 28, 28, 0.7);
  --color-primary-alpha-80: rgba(183, 28, 28, 0.8);
  --color-primary-alpha-90: rgba(183, 28, 28, 0.9);
  --color-secondary: #505050;
  --color-secondary-dark-1: #37394d;
  --color-secondary-dark-2: #3e3f56;
  --color-secondary-dark-3: #44465f;
  --color-secondary-dark-4: #4b4c68;
  --color-secondary-dark-5: #515370;
  --color-secondary-dark-6: #575979;
  --color-secondary-dark-7: #5e6082;
  --color-secondary-dark-8: #64668b;
  --color-secondary-dark-9: #6b6d94;
  --color-secondary-dark-10: #74769a;
  --color-secondary-dark-11: #7c7ea1;
  --color-secondary-dark-12: #8587a7;
  --color-secondary-dark-13: #8e90ae;
  --color-secondary-light-1: #2b2b3b;
  --color-secondary-light-2: #242532;
  --color-secondary-light-3: #1e1e29;
  --color-secondary-light-4: #171820;
  --color-secondary-alpha-10: rgba(59, 59, 59, 0.1);
  --color-secondary-alpha-20: rgba(59, 59, 59, 0.2);
  --color-secondary-alpha-30: rgba(59, 59, 59, 0.3);
  --color-secondary-alpha-40: rgba(59, 59, 59, 0.4);
  --color-secondary-alpha-50: rgba(59, 59, 59, 0.5);
  --color-secondary-alpha-60: rgba(59, 59, 59, 0.6);
  --color-secondary-alpha-70: rgba(59, 59, 59, 0.7);
  --color-secondary-alpha-80: rgba(59, 59, 59, 0.8);
  --color-secondary-alpha-90: rgba(59, 59, 59, 0.9);
  /* colors */
  --color-red: #f38ba8;
  --color-orange: #fab387;
  --color-yellow: #f9e2af;
  --color-olive: #a6e3a1;
  --color-green: #a6e3a1;
  --color-teal: #94e2d5;
  --color-blue: #89b4fa;
  --color-violet: #E24141;
  --color-purple: #cba6f7;
  --color-pink: #f5c2e7;
  --color-brown: #f2cdcd;
  --color-grey: #a3a3a3;
  --color-black: #1e1e1e;
  /* light variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-light: #ee5d85;
  --color-orange-light: #f89456;
  --color-yellow-light: #f5d180;
  --color-olive-light: #81d77a;
  --color-green-light: #81d77a;
  --color-teal-light: #6cd7c5;
  --color-blue-light: #5895f8;
  --color-violet-light: #8292fd;
  --color-purple-light: #b077f3;
  --color-pink-light: #ee96d6;
  --color-brown-light: #e7a5a5;
  --color-grey-light: #757d9d;
  --color-black-light: #040406;
  /* other colors */
  --color-gold: #f5e0dc;
  --color-white: #e8e8e8;
  --color-diff-removed-word-bg: rgba(243, 139, 168, 0.15);
  --color-diff-added-word-bg: rgba(166, 227, 161, 0.15);
  --color-diff-removed-row-bg: rgba(243, 139, 168, 0.07);
  --color-diff-moved-row-bg: rgba(249, 226, 175, 0.07);
  --color-diff-added-row-bg: rgba(166, 227, 161, 0.07);
  --color-diff-removed-row-border: rgba(243, 139, 168, 0.07);
  --color-diff-moved-row-border: rgba(249, 226, 175, 0.07);
  --color-diff-added-row-border: rgba(166, 227, 161, 0.07);
  --color-diff-inactive: #a3a3a3;
  --color-error-border: #f38ba8;
  --color-error-bg: #f38ba8;
  --color-error-bg-active: #f17497;
  --color-error-bg-hover: #ee5d85;
  --color-error-text: #000000;
  --color-success-border: #81d77a;
  --color-success-bg: #a6e3a1;
  --color-success-text: #000000;
  --color-warning-border: #f5d180;
  --color-warning-bg: #f9e2af;
  --color-warning-text: #000000;
  --color-info-border: #5895f8;
  --color-info-bg: #000000;
  --color-info-text: #e8e8e8;
  --color-red-badge: #ee5d85;
  --color-red-badge-bg: #000000;
  --color-red-badge-hover-bg: #f17497;
  --color-green-badge: #a6e3a1;
  --color-green-badge-bg: #a6e3a1;
  --color-green-badge-hover-bg: #93dd8d;
  --color-yellow-badge: #f9e2af;
  --color-yellow-badge-bg: #000000;
  --color-yellow-badge-hover-bg: #f7d997;
  --color-orange-badge: #fab387;
  --color-orange-badge-bg: #000000;
  --color-orange-badge-hover-bg: #f9a36f;
  --color-git: #fab387;
  /* target-based colors */
  --color-body: #000000;
  --color-box-header: #1e1e1e;
  --color-box-body: #1e1e1e;
  --color-box-body-highlight: #3B3B3B;
  --color-text-dark: #c7c7c7;
  --color-text: #e8e8e8;
  --color-text-light: #D6D6D6;
  --color-text-light-1: #D6D6D6;
  --color-text-light-2: #D6D6D6;
  --color-text-light-3: #D6D6D6;
  --color-footer: #1e1e1e;
  --color-timeline: #3B3B3B;
  --color-input-text: #e8e8e8;
  --color-input-background: #3B3B3B;
  --color-input-toggle-background: #3B3B3B;
  --color-input-border: #505050;
  --color-input-border-hover: #646464;
  --color-nav-bg: #1e1e1e;
  --color-nav-hover-bg: #3B3B3B;
  --color-navbar: #1e1e1e;
  --color-navbar-transparent: rgba(0, 0, 0, 0);
  --color-light: rgba(100, 100, 100, 0.3);
  --color-light-mimic-enabled: rgba(
    0,
    0,
    0,
    calc(40 / 255 * 222 / 255 / var(--opacity-disabled))
  );
  --color-light-border: #646464;
  --color-hover: rgba(121, 121, 121, 0.1);
  --color-active: rgba(232, 232, 232, 0.1);
  --color-menu: #3B3B3B;
  --color-card: #3B3B3B;
  --color-markup-table-row: rgba(232, 232, 232, 0.02);
  --color-markup-code-block: rgba(232, 232, 232, 0.05);
  --color-button: #3B3B3B;
  --color-code-bg: #0f0f0f;
  --color-code-sidebar-bg: #3B3B3B;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-secondary-bg: #3B3B3B;
  --color-text-focus: #e8e8e8;
  --color-expand-button: #646464;
  --color-placeholder-text: #c7c7c7;
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-board-bg: var(--color-secondary-light-2);
  /* gitea source code: */
  /* should ideally be --color-text-dark, see go-gitea/gitea#15651 */
  --color-caret: var(--color-text);
  --color-reaction-bg: rgba(232, 232, 232, 0.07);
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-header-wrapper: #1e1e1e;
  --color-header-wrapper-transparent: rgba(30, 30, 30, 0);
  --color-label-text: #000000;
  --color-label-bg: #E24141;
  --color-label-hover-bg: #96a4fe;
  --color-label-active-bg: #a5b1fe;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-active-line: #505050;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label=copyright],
.emoji[aria-label=registered],
.emoji[aria-label="trade mark"],
.emoji[aria-label=multiply],
.emoji[aria-label=plus],
.emoji[aria-label=minus],
.emoji[aria-label=divide],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}

.ui.ui.ui.button:not(.inverted, .basic).primary, .ui.ui.ui.button:not(.inverted, .basic).green, .ui.ui.ui.button:not(.inverted, .basic).red, .ui.ui.ui.button:not(.inverted, .basic).teal,
.ui.ui.ui.label:not(.inverted, .basic).primary,
.ui.ui.ui.label:not(.inverted, .basic).green,
.ui.ui.ui.label:not(.inverted, .basic).red,
.ui.ui.ui.label:not(.inverted, .basic).teal {
  color: #000000;
}
.ui.ui.ui.button:not(.inverted, .basic).primary:hover, .ui.ui.ui.button:not(.inverted, .basic).green:hover, .ui.ui.ui.button:not(.inverted, .basic).red:hover, .ui.ui.ui.button:not(.inverted, .basic).teal:hover,
.ui.ui.ui.label:not(.inverted, .basic).primary:hover,
.ui.ui.ui.label:not(.inverted, .basic).green:hover,
.ui.ui.ui.label:not(.inverted, .basic).red:hover,
.ui.ui.ui.label:not(.inverted, .basic).teal:hover {
  color: #0f0f0f;
}

.ui.basic.modal {
  background-color: #0f0f0f;
}

.ui.commit-header-row .svg.gitea-lock ~ a {
  color: #000000;
}

.ui.sha.isSigned.isVerified .shortsha {
  color: #000000;
}
.ui.sha.isSigned.isVerified svg.gitea-lock {
  fill: #000000;
}

.ui.basic.modal,
.ui.basic.modal > .header,
.ui.inverted.button {
  color: #e8e8e8 !important;
}

::selection {
  background: rgba(183, 28, 28, 0.3) !important;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #fab387;
}

/* Comment */
.chroma .c {
  color: #797979;
}

/* CommentSingle */
.chroma .c1 {
  color: #797979;
}

/* CommentHashbang */
.chroma .ch {
  color: #797979;
}

/* CommentMultiline */
.chroma .cm {
  color: #797979;
}

/* CommentPreproc */
.chroma .cp {
  color: #89b4fa;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #89b4fa;
}

/* CommentSpecial */
.chroma .cs {
  color: #797979;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #89b4fa;
}

/* NameFunctionMagic */
/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: #e8e8e8;
  background-color: rgba(243, 139, 168, 0.15);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericHeading */
.chroma .gh {
  color: #89dceb;
}

/* GenericInserted */
.chroma .gi {
  color: #e8e8e8;
  background-color: rgba(166, 227, 161, 0.15);
}

/* GenericUnderline */
/* GenericOutput */
.chroma .go {
  color: #fab387;
}

/* GenericPrompt */
.chroma .gp {
  color: #797979;
  font-weight: bold;
}

/* GenericError */
.chroma .gr {
  color: #eba0ac;
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericTraceback */
.chroma .gt {
  color: #eba0ac;
}

/* GenericSubheading */
.chroma .gu {
  color: #89dceb;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #fab387;
}

/* Keyword */
.chroma .k {
  color: #cba6f7;
}

/* KeywordConstant */
.chroma .kc {
  color: #f9e2af;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #cba6f7;
}

/* KeywordNamespace */
.chroma .kn {
  color: #f9e2af;
}

/* KeywordPseudo */
.chroma .kp {
  color: #cba6f7;
  font-weight: bold;
}

/* KeywordReserved */
.chroma .kr {
  color: #cba6f7;
}

/* KeywordType */
.chroma .kt {
  color: #f9e2af;
}

/* Literal */
/* LiteralDate */
/* LiteralNumber */
.chroma .m {
  color: #fab387;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #fab387;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #fab387;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #fab387;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #fab387;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #fab387;
}

/* Name */
.chroma .n {
  color: #E24141;
}

/* NameAttribute */
.chroma .na {
  color: #f9e2af;
}

/* NameBuiltin */
.chroma .nb {
  color: #fab387;
}

/* NameClass */
.chroma .nc {
  color: #f9e2af;
}

/* NameDecorator */
.chroma .nd {
  color: #f5c2e7;
}

/* NameException */
.chroma .ne {
  color: #eba0ac;
}

/* NameFunction */
.chroma .nf {
  color: #89b4fa;
}

/* NameEntity */
.chroma .ni {
  color: #f5c2e7;
}

/* NameLabel */
.chroma .nl {
  color: #f9e2af;
}

/* NameNamespace */
.chroma .nn {
  color: #f9e2af;
}

/* NameConstant */
.chroma .no {
  color: #f9e2af;
}

/* NameTag */
.chroma .nt {
  color: #cba6f7;
}

/* NameVariable */
.chroma .nv {
  color: #fab387;
}

/* NameOther */
.chroma .nx {
  color: #fab387;
}

/* Operator */
.chroma .o {
  color: #89dceb;
}

/* OperatorWord */
.chroma .ow {
  color: #89dceb;
  font-weight: bold;
}

/* Punctuation */
.chroma .p {
  color: #a3a3a3;
}

/* NameProperty */
/* LiteralString */
.chroma .s {
  color: #a6e3a1;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #a6e3a1;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #a6e3a1;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #a6e3a1;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #a6e3a1;
}

/* LiteralStringChar */
.chroma .sc {
  color: #a6e3a1;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #a6e3a1;
}

/* LiteralStringEscape */
.chroma .se {
  color: #89b4fa;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #a6e3a1;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #a6e3a1;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #89b4fa;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #a6e3a1;
}

/* LiteralStringOther */
.chroma .sx {
  color: #a6e3a1;
}

/* NameVariableClass */
.chroma .vc {
  color: #f9e2af;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #fab387;
}

/* NameVariableInstance */
.chroma .vi {
  color: #f9e2af;
}

/* NameVariableMagic */
/* TextWhitespace */
.chroma .w {
  color: #3B3B3B;
}

.CodeMirror .cm-property,
.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
  color: #e8e8e8;
}
.CodeMirror .cm-header,
.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
  color: #e8e8e8;
}
.CodeMirror .cm-quote,
.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
  color: #a6e3a1;
}
.CodeMirror .cm-keyword,
.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
  color: #cba6f7;
}
.CodeMirror .cm-atom,
.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
  color: #f38ba8;
}
.CodeMirror .cm-number,
.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
  color: #fab387;
}
.CodeMirror .cm-def,
.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
  color: #e8e8e8;
}
.CodeMirror .cm-variable-2,
.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
  color: #89dceb;
}
.CodeMirror .cm-variable-3,
.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
  color: #94e2d5;
}
.CodeMirror .cm-comment,
.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
  color: #646464;
}
.CodeMirror .cm-string,
.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
  color: #a6e3a1;
}
.CodeMirror .cm-string-2,
.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
  color: #a6e3a1;
}
.CodeMirror .cm-meta,
.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-paper .cm-meta {
  color: #fab387;
}
.CodeMirror .cm-qualifier,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-qualifier {
  color: #fab387;
}
.CodeMirror .cm-builtin,
.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
  color: #fab387;
}
.CodeMirror .cm-bracket,
.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
  color: #e8e8e8;
}
.CodeMirror .cm-tag,
.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
  color: #f9e2af;
}
.CodeMirror .cm-attribute,
.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
  color: #f9e2af;
}
.CodeMirror .cm-hr,
.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
  color: #a3a3a3;
}
.CodeMirror .cm-url,
.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
  color: #89b4fa;
}
.CodeMirror .cm-link,
.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
  color: #89b4fa;
}
.CodeMirror .cm-error,
.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
  color: #f38ba8;
}

.monaco-editor .selected-text {
  background-color: #3B3B3B !important;
}
.monaco-editor .margin-view-overlays .line-numbers {
  color: #c7c7c7 !important;
}
.monaco-editor .line-numbers.active-line-number {
  color: #E24141 !important;
}
.monaco-editor .view-overlays .current-line,
.monaco-editor .margin-view-overlays .current-line-margin {
  background-color: #2a2b3c !important;
}
.monaco-editor .mtk1 {
  color: #e8e8e8 !important;
}
.monaco-editor .mtk2 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk3 {
  color: #fab387 !important;
}
.monaco-editor .mtk4 {
  color: #94e2d5 !important;
}
.monaco-editor .mtk5 {
  color: #e8e8e8 !important;
}
.monaco-editor .mtk6 {
  color: #cba6f7 !important;
}
.monaco-editor .mtk7 {
  color: #fab387 !important;
}
.monaco-editor .mtk8 {
  color: #a3a3a3 !important;
}
.monaco-editor .mtk9 {
  color: #cba6f7 !important;
}
.monaco-editor .mtk10 {
  color: #c7c7c7 !important;
}
.monaco-editor .mtk11 {
  color: #94e2d5 !important;
}
.monaco-editor .mtk12 {
  color: #94e2d5 !important;
}
.monaco-editor .mtk13 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk14 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk15 {
  color: #cba6f7 !important;
}
.monaco-editor .mtk16 {
  color: #a3a3a3 !important;
}
.monaco-editor .mtk17 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk18 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk19 {
  color: #94e2d5 !important;
}
.monaco-editor .mtk20 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk21 {
  color: #a6e3a1 !important;
}
.monaco-editor .mtk22 {
  color: #ff69b4 !important;
}
.monaco-editor .mtk23 {
  color: #89b4fa !important;
}
.monaco-editor .mtk24 {
  color: #fab387 !important;
}
.monaco-editor .mtk25 {
  color: #f5c2e7 !important;
}
.monaco-editor .bracket-highlighting-0 {
  color: #e4a9c6 !important;
}
.monaco-editor .bracket-highlighting-1 {
  color: #e8c1b3 !important;
}
.monaco-editor .bracket-highlighting-2 {
  color: #e7ddcb !important;
}
.monaco-editor .bracket-highlighting-3 {
  color: #b6dec2 !important;
}
.monaco-editor .bracket-highlighting-4 {
  color: #a4c2f8 !important;
}
.monaco-editor .bracket-highlighting-5 {
  color: #ccb9f6 !important;
}
